.accueil-photos {
  background-color: ;
  padding: ;
}

.accueil-photos h2 {
  color: ;
  text-align: ;
  margin-bottom: ;
}

.accueil-photos div {
  display: ;
  flex-direction: ;
  gap: ;
  justify-content: ;
  margin-bottom: ;
}

.accueil-introduction {
  display: ;
  flex-direction: ;
  width: ;
  align-items: ;
  margin: ;
}

.accueil-introduction h1 {
  margin-bottom: ;
}

.accueil-introduction p {
  margin-bottom: ;
}

.accueil-introduction div {
  padding-right: ;
}


.section-contact h2 {
  color: ;
  text-align: ;
  margin-bottom: ;
}

form {
  display: ;
  flex-direction: ;
  width: ;
  margin: ;
  color: ;
}


.form-nom-email {
  display: ;
  gap: ;
}


.form-column {
  display: ;
  margin-bottom: ;
}


input,
textarea {
  padding: ;
  border-radius: ;
  border: ;
}


label {
  margin-bottom: ;
}


input[type=submit] {
  width: ;
  margin: ;
  margin-top: ;
}

::placeholder {
  opacity: ;
}