.lien-icone {
  margin-left: 20px;
}

.lien-icone img {
  height: 60px;
}

header a {
  color: white;
  margin-right: 20px;
}

.accueil-introduction {
  display: flex;
  flex-direction: row;
  width: 50%;
  align-items: center;
}

.accueil-introduction a {
  color: black;
}

.accueil-introduction img {
  height: 20%;
  width: 20%;
}
