* {
  margin: 0;
  }
  
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

body {
  font-family: 'Manrope', sans-serif;
  font-size: 1em;
  background-color: #000000;
}

header,
footer {
  background-color: #666699;
  height: 100px;
}